#container {
    background-color: rgb(131, 153, 131);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header_nav {
    background-color: rgb(231, 243, 178);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.table {
    background-color: rgb(166, 214, 192);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.forms {
    background-color: rgb(173, 206, 129);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.link {
    color:rgb(168, 100, 16);
}

.article2 {
    height: 200px;
    width: 500px;
    margin: 20px;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    background-color: bisque;
    border-radius: 10px;
    color:rgb(168, 100, 16);
}
